{%extends "base.html"%}
{%block title%} ALL Fucking Companies {%endblock%}
{%block content%}

<h1>ALL Companies</h1>

{%if table_s.count %}

{%for data in table_s %}
<div>
    <h2>
       <a href="/company/get/{{data.id}}/">{{data.name}}</a>


    </h2>
</div>
{% endfor %}

{%else%}
<p>None to show!</p>
{%endif%}
{%endblock%}
