{% extends "index.html" %}
{%block title%} Details VIEWS {%endblock%}
{% block body%}

<div>
    <ul>
        <p>Details</p>
        <li>{{object.text_complaint}}</li>
        <li>{{object.created_time}}</li>


    </ul>
</div>

{% endblock body%}